:host {
    display: table;
    height: 100%;
    width: 100%;
}

#logo {
    color: white;
    display: table-cell;
    position: relative;
    width:97%;
    padding-left: 3%;
    font-size: 180%;
    font-family: 'Lobster', cursive;
    vertical-align: middle;
}