:host {
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    height: 8%;
    background-color:#3C4147;
}

app-header {
    display: block;
    height: 100%;
    width: 100%;
  }

.details {
    position: relative;
    height: 92%;
    width: 100%;
    float: left;
}

.name {
    position: relative;
    width: 100%;
    font-size: 150%;
    text-align: center; 
    padding-top: 6%;
    vertical-align: bottom;
}

.itemInformation {
    position: relative;
    width: 92%;
    height: 80%;
    padding-top: 2%;
    float: right;
}

.itemInformation h4 {
    position: relative;
    float: left;
    width: 20%;
    height: 5%;
}

.itemInformation  p {
    position: relative;
    width: 80%;
    float: left;
    padding-bottom: 5px;
    height: 5%;

}