<div class="container">
  <div class="top-navigation">
    <div class="searchInformation">
      <p>{{startResultsRange}}-{{endResultsRange}} of {{totalResults}} RESULTS</p>
    </div>
    <div class="buttonList">
      <button (click)="pageChange('<<', null)"><p>&#x21DA;</p></button>
      <button (click)="pageChange('<', null)"><p>&#x2190;</p></button>
      <button name="buttonNumber1" (click)="pageChange(buttonOnePageNumber, 1)"><p>{{buttonOnePageNumber}}</p></button>
      <button name="buttonNumber2" (click)="pageChange(buttonTwoPageNumber, 2)"><p>{{buttonTwoPageNumber}}</p></button>
      <button name="buttonNumber3" (click)="pageChange(buttonThreePageNumber, 3)"><p>{{buttonThreePageNumber}}</p></button>
      <button name="buttonNumber4" (click)="pageChange(buttonFourPageNumber, 4)"><p>{{buttonFourPageNumber}}</p></button>
      <button (click)="pageChange('>', null)"><p>&#x2192;</p></button>
      <button (click)="pageChange('>>', null)"><p>&#x21DB;</p></button>
    </div>
  </div>
  <div class="row" *ngFor="let row of displayDataForCurrentPage">
    <a class="item" *ngFor="let item of row.data" 
    (click)="onSelect(item)">
      <img src={{item.imgSrc}}>
      <p>{{item.description}}</p>
      <h5>{{item.stockId}}</h5>
    </a>
</div>
<div class="bottom-navigation">
    <div class="searchInformation">
        <p>{{startResultsRange}}-{{endResultsRange}} of {{totalResults}} RESULTS</p>
      </div>
      <div class="buttonList">
        <button (click)="pageChange('<<', null)"><p>&#x21DA;</p></button>
        <button (click)="pageChange('<', null)"><p>&#x2190;</p></button>
        <button name="buttonNumber1" (click)="pageChange(buttonOnePageNumber, 1)"><p>{{buttonOnePageNumber}}</p></button>
        <button name="buttonNumber2" (click)="pageChange(buttonTwoPageNumber, 2)"><p>{{buttonTwoPageNumber}}</p></button>
        <button name="buttonNumber3" (click)="pageChange(buttonThreePageNumber, 3)"><p>{{buttonThreePageNumber}}</p></button>
        <button name="buttonNumber4" (click)="pageChange(buttonFourPageNumber, 4)"><p>{{buttonFourPageNumber}}</p></button>
        <button (click)="pageChange('>', null)"><p>&#x2192;</p></button>
        <button (click)="pageChange('>>', null)"><p>&#x21DB;</p></button>
      </div>
</div>
</div>