<div class="container">
  <div class="top-navigation">
    <div class="searchInformation">
      <p>{{startRange}}-{{endRange}} of {{totalItems}} RESULTS</p>
    </div>
    <div class="buttonList">
      <button (click)="pageChange('<<')"><p>&#x21DA;</p></button>
      <button (click)="pageChange('<')"><p>&#x2190;</p></button>
      <button id="buttonNumber1" (click)="pageChange(buttonOneNumber, 1)"><p>{{buttonOneNumber}}</p></button>
      <button id="buttonNumber2" (click)="pageChange(buttonTwoNumber, 2)"><p>{{buttonTwoNumber}}</p></button>
      <button id="buttonNumber3" (click)="pageChange(buttonThreeNumber, 3)"><p>{{buttonThreeNumber}}</p></button>
      <button id="buttonNumber4" (click)="pageChange(buttonFourNumber, 4)"><p>{{buttonFourNumber}}</p></button>
      <button (click)="pageChange('>')"><p>&#x2192;</p></button>
      <button (click)="pageChange('>>')"><p>&#x21DB;</p></button>
    </div>
  </div>
  <div class="row" *ngFor="let row of displayData[currentPageNumber-1]">
    <a class="item" *ngFor="let item of row.data" 
    (click)="onSelect(item)">
      <img src={{item.imgSrc}}>
      <p>{{item.description}}</p>
      <h5>{{item.stockId}}</h5>
    </a>
</div>
<div class="bottom-navigation">
</div>
</div>