
:host {
    display: block;
    height: 100%;
    width: 100%;
}

.header {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    height: 8%;
    background-color:#3C4147;
}

app-header {
    display: block;
    height: 100%;
    width: 100%;
  }

.sideBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 8%; /* Position the navbar at the top of the page */ 
    z-index: 10;   
    height: 92%;
    width: 25%;
    background-color: white;
    float: left;
}

app-side-bar {
    display: block;
    height: 100%;
    width: 100%;
}

.mainContent {
    position: relative;
    padding-top: 4%;
    height: 92%;
    width: 75%;
    background-color: white;
    float: right;
}

app-data {
    display: block;
    height: 100%;
    width: 100%;
  }